@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 90% 5%;

    --neutral: 0 0% 50%;
    --neutral-foreground: 0 0% 100%;

    --primary: 300 90% 50%;
    --primary-foreground: 135 10% 20%;

    --secondary: 240 90% 50%;
    --secondary-foreground: 135 10% 90%;

    --success: 135 90% 50%;
    --success-foreground: 135 10% 20%;

    --info: 200 90% 50%;
    --info-foreground: 135 10% 20%;

    --warning: 50 80% 50%;
    --warning-foreground: 135 10% 20%;

    --danger: 10 90% 50%;
    --danger-foreground: 135 10% 20%;
  }

  .dark {
    --background: 200 90% 5%;
    --foreground: 0 0% 100%;

    --neutral: 0 0% 50%;
    --neutral-foreground: 0 0% 100%;

    --primary: 300 90% 50%;
    --primary-foreground: 135 10% 90%;

    --secondary: 270 90% 50%;
    --secondary-foreground: 135 10% 90%;

    --success: 135 90% 50%;
    --success-foreground: 135 10% 20%;

    --info: 200 90% 50%;
    --info-foreground: 135 10% 20%;

    --warning: 50 90% 50%;
    --warning-foreground: 135 10% 20%;

    --danger: 10 90% 50%;
    --danger-foreground: 135 10% 20%;
  }

  body {
    @apply bg-background text-foreground;
  }

  .preview {
    background-image: radial-gradient(hsl(var(--foreground) / 0.2) 1px, var(--code-background) 1px);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;
  }
}
