@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 240 4.88% 83.92%;
    --foreground: 219 11% 16%;

    --neutral: 240 10% 40%;
    --neutral-foreground: 0 0% 100%;

    --primary: 331 82% 64%;
    --secondary-foreground: 135 10% 20%;

    --secondary: 30 81% 63%;
    --secondary-foreground: 135 10% 90%;

    --success: 95 66% 74%;
    --success-foreground: 135 10% 20%;

    --info: 207 100% 71%;
    --info-foreground: 135 10% 20%;

    --warning: 39 100% 77%;
    --warning-foreground: 135 10% 20%;

    --danger: 355 100% 74%;
    --danger-foreground: 135 10% 20%;
  }

  .dark {
    --background: 0 0 7%;
    --foreground: 219 14% 81%;

    --neutral: 240 10% 60%;
    --neutral-foreground: 0 0% 100%;

    --primary: 331 82% 64%;
    --primary-foreground: 135 10% 90%;

    --secondary: 30 81% 63%;
    --secondary-foreground: 135 10% 20%;

    --success: 95 38% 62%;
    --success-foreground: 135 10% 20%;

    --info: 207 82% 66%;
    --info-foreground: 135 10% 20%;

    --warning: 39 67% 69%;
    --warning-foreground: 135 10% 20%;

    --danger: 355 65% 65%;
    --danger-foreground: 135 10% 20%;
  }

  body {
    @apply bg-background text-foreground;
  }

  .preview {
    background-image: radial-gradient(hsl(var(--foreground) / 0.2) 1px, var(--code-background) 1px);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;
  }

  .dark .prose {
    @apply prose-invert;
  }

  aside {
    max-height: calc(100vh - 5rem);
  }
}

*::selection {
  @apply bg-primary text-primary-foreground;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-color: hsl(var(--primary)) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
  .scroller::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
