:root {
  --code-background-dark: #2B2B2D;
  --code-token-base-dark: #CDD3D8;
  --code-token-punctuation-dark: #818896;
  --code-token-operator-dark: #C792EA;
  --code-token-keyword-dark: #C792EA;
  --code-token-string-dark: #C3E88D;
  --code-token-comment-dark: #5c6370;
  --code-token-attribute-dark: #818896;
  --code-token-function-dark: #75A5FF;
  --code-token-function-name-dark: #75A5FF;
  --code-token-function-param-dark: #abb2bf;
  --code-token-boolean-dark: #F77669;
  --code-token-number-dark: #F77669;
  --code-token-selector-dark: #FFCB68;
  --code-token-type-dark: #80CBBF;

  --code-background-light: #FAFAFA;
  --code-token-base-light: #37474f;
  --code-token-punctuation-light: #686b77;
  --code-token-operator-light: #9c27b0;
  --code-token-keyword-light: #9c27b0;
  --code-token-string-light: #3b9188;
  --code-token-comment-light: #a0a1a7;
  --code-token-attribute-light: #686b77;
  --code-token-function-light: #3b78e7;
  --code-token-function-name-light: #3b78e7;
  --code-token-function-param-light: #383a42;
  --code-token-boolean-light: #E53935;
  --code-token-number-light: #E53935;
  --code-token-selector-light: #c18401;
  --code-token-type-light: #0184bb;
}
