pre.hljs {
  background: var(--code-background);
}
.hljs {
  color: var(--code-token-base);
}
.hljs-punctuation {
  color: var(--code-token-punctuation);
}
.hljs-variable,
.hljs-name {
  color: var(--code-token-base);
}
.hljs-function-param {
  font-weight: bold;
  font-style: italic;
  color: var(--code-token-base);
}
.hljs-operator {
  color: var(--code-token-operator);
}
.hljs-keyword {
  color: var(--code-token-keyword);
}
.hljs-boolean {
  color: var(--code-token-boolean);
}
.hljs-number {
  color: var(--code-token-number);
}
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-type {
  color: var(--code-token-type);
}
.hljs-function.function-name {
  color: var(--code-token-function-name);
}
.hljs-function.function-call {
  font-style: italic;
}
.hljs-function.function-params {
  color: var(--code-token-function);
}
.hljs-attribute {
  color: var(--code-token-attribute);
  font-style: italic;
}
.hljs-string {
  color: var(--code-token-string);
}
.hljs-comment {
  color: var(--code-token-comment);
  font-style: italic;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--code-token-function);
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--code-token-function);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
