:root, .light {
  --code-background: #f2f2f2;
  --code-token-base: #37474f;
  --code-token-punctuation: #686b77;
  --code-token-operator: #9c27b0;
  --code-token-keyword: #9c27b0;
  --code-token-string: #3b9188;
  --code-token-comment: #a0a1a7;
  --code-token-attribute: #686b77;
  --code-token-function: #3b78e7;
  --code-token-function-name: #3b78e7;
  --code-token-function-param: #383a42;
  --code-token-boolean: #E53935;
  --code-token-number: #E53935;
  --code-token-selector: #c18401;
  --code-token-type: #0184bb;
}

.dark {
  --code-background: #1A1A1A;
  --code-token-base: #CDD3D8;
  --code-token-punctuation: #818896;
  --code-token-operator: #C792EA;
  --code-token-keyword: #C792EA;
  --code-token-string: #C3E88D;
  --code-token-comment: #5c6370;
  --code-token-attribute: #818896;
  --code-token-function: #75A5FF;
  --code-token-function-name: #75A5FF;
  --code-token-function-param: #abb2bf;
  --code-token-boolean: #F77669;
  --code-token-number: #F77669;
  --code-token-selector: #FFCB68;
  --code-token-type: #80CBBF;
}
