:root, .light {
  --code-background: #f2f2f2;
  --code-token-base: #4c4f69;
  --code-token-punctuation: #5c5f77;
  --code-token-operator: #179299;
  --code-token-keyword: #8839ef;
  --code-token-string: #40a02b;
  --code-token-comment: #acb0be;
  --code-token-attribute: #40a02b;
  --code-token-function: #1e66f5;
  --code-token-function-name: #1e66f5;
  --code-token-function-param: #4c4f69;
  --code-token-boolean: #fab387;
  --code-token-number: #fab387;
  --code-token-selector: #1e66f5;
  --code-token-type: #df8e1d;
}

.dark {
  --code-background: #1A1A1A;
  --code-token-base: #cdd6f4;
  --code-token-punctuation: #bac2de;
  --code-token-operator: #94e2d5;
  --code-token-keyword: #cba6f7;
  --code-token-string: #a6e3a1;
  --code-token-comment: #585b70;
  --code-token-attribute: #a6e3a1;
  --code-token-function: #89b4fa;
  --code-token-function-name: #89b4fa;
  --code-token-function-param: #cdd6f4;
  --code-token-boolean: #fab387;
  --code-token-number: #fab387;
  --code-token-selector: #89b4fa;
  --code-token-type: #f9e2af;
}
